html,
#app {
  font-family: 'Roboto', sans-serif;
  background-color: #006c73 !important;
  color: white;
}

#app h1 {
  font-size: 300%;
  margin-top: 5%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.command {
  box-sizing: border-box;
  display: flex;
}

.command-card {
  background-color: #00b8c4;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(168, 182, 191, .6);
  flex: 1;
  margin: 1em 0;
  overflow: hidden;
  text-align: center;
  transition: all .25s ease-out;
}

.command-card h2 {
  text-shadow: 2px 2px 5px #777;
}

.command-card h3 {}

.command-card:hover {
  box-shadow: 0 10px 20px 0 rgba(168, 182, 191, .6);
  transform: translateY(-1px);
}

.center-xs {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.row {
  -ms-flex: 0 1 auto;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-box-direction: normal;
  -webkit-box-flex: 0;
  -webkit-box-orient: horizontal;
  -webkit-flex: 0 1 auto;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.search-wrapper {
  align-content: center;
}

.wrap {
  margin: 0 auto;
  max-width: 1500px;
}

html,
#app {
  background-color: white;
}

input {
  border-radius: 3px;
  width: 20%;
}

main.wrap {
  padding: 3.5em 2em;
}

@media only screen and (min-width: 64em) {
  .col-md-3 {
    -ms-flex: 0 0 auto;
    -ms-flex-preferred-size: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    box-sizing: border-box;
    flex: 0 0 auto;
    flex-basis: 25%;
    max-width: 25%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .container {
    width: 65rem;
  }
}

@media only screen and (min-width: 48em) {
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-sm-2,
  .col-sm-6 {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .container {
    width: 49rem;
  }
}