<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <meta name="description" content="List with useful Linux commands.">
  <meta name="robots" content="index, follow">
  <meta name="author" content="Marvin Wendt">

  <title>Linux Command List</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105814613-7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-105814613-7');
  </script>

  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/scrollbar.css" />
  <link rel="stylesheet" href="css/debug.css" />
  <link rel="icon" href="favicon.ico?" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/default.min.css">
  <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>
</head>

<body>

  <div id="app">
    <h1>Linux Command List!</h1>
    <div class="search-wrapper center-xs">
      <input type="text" v-model="search" placeholder="Search.." />
    </div>
    <main class="wrap">
      <div class="row center-xs">
        <article v-for="command in filteredList" class="command col-xs-12 col-sm-6 col-md-3">
          <div class="command-card">
            <div v-if="command.title != ''">
              <h2>{{command.title}}</h3>
            </div>
            <h3>
              <pre><code class="language-shell">{{command.usage}}</code></pre>
            </h3>
            <div v-if="command.description != ''">
              <pre class="description">{{command.description}}</pre>
            </div>
            <div v-if="command.usage != ''">
              <p>
                <pre><code class="language-shell">{{command.cmd}}</code></pre>
              </p>
            </div>
          </div>
        </article>
      </div>
    </main>
  </div>

  <script src="./javascript/app.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>

</html>