<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <meta name="description" content="List with useful Linux commands.">
  <meta name="robots" content="index, follow">
  <meta name="author" content="Marvin Wendt">

  <title>Linux Command List</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105814613-7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-105814613-7');
  </script>

  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/scrollbar.css" />
  <link rel="stylesheet" href="css/debug.css" />
  <link rel="icon" href="favicon.ico?" type="image/x-icon">
  <script src="assets/js/vue.min.js"></script>
  <link rel="stylesheet" href="assets/css/highlightjs.min.css">
  <script src="assets/js/highlightjs.min.js"></script>
  <script async defer src="assets/js/buttonsjs.min.js"></script>
</head>

<body>

  <div id="app">
    <a class="github-button" href="https://github.com/marvinjwendt"
      data-color-scheme="no-preference: light; light: light; dark: light;"
      aria-label="Follow @marvinjwendt on GitHub">Follow @marvinjwendt</a>
    <a class="github-button" href="https://github.com/linux-command-list/linux-command-list/fork"
      data-color-scheme="no-preference: light; light: light; dark: light;" data-icon="octicon-repo-forked"
      aria-label="Fork linux-command-list/linux-command-list on GitHub">Fork</a>
    <a class="github-button" href="https://github.com/sponsors/marvinjwendt"
      data-color-scheme="no-preference: light; light: light; dark: light;" data-icon="octicon-heart"
      aria-label="Sponsor @marvinjwendt on GitHub">Sponsor</a>
    <a class="github-button" href="https://github.com/linux-command-list/linux-command-list/issues"
      data-color-scheme="no-preference: light; light: light; dark: light;" data-icon="octicon-issue-opened"
      aria-label="Issue linux-command-list/linux-command-list on GitHub">Issue</a>
    <h1>Linux Command List!</h1>
    <div class="search-wrapper center-xs">
      <input type="text" v-model="search" placeholder="Search.." />
    </div>
    <main class="wrap">
      <div class="row center-xs">
        <article v-for="command in filteredList" class="command col-xs-12 col-sm-6 col-md-3">
          <div class="command-card">
            <div v-if="command.title != ''">
              <h2>{{command.title}}</h3>
            </div>
            <h3  v-if="command.usage != ''">
              <pre><code class="language-shell">{{command.usage}}</code></pre>
            </h3>
            <div v-if="command.description != ''">
              <pre class="description">{{command.description}}</pre>
            </div>
            <div v-if="command.cmd != ''">
              <p>
                <pre><code class="language-shell">{{command.cmd}}</code></pre>
              </p>
            </div>
          </div>
        </article>
      </div>
    </main>
  </div>

  <script src="./javascript/app.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</body>

</html>